ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

li{
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
    vertical-align: middle;

}

a {
    display: block;
    padding: 5px;
    margin: 5px;
    color: #222;
    text-decoration: none;
}

.container {
    font-family: aria, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.GApps {
    fill: rgb(95, 99, 104);
}