body {
    min-width: 400px;
    text-align: center;
}

ul {
    list-style-type: none;
    line-height: 24px;
}

li{
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
    vertical-align: middle;

}

a {
    display: block;
    padding: 5px;
    color: #222;
    text-decoration: none;
}

ul.container {
    font-family: arial, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 6px;
    height: 60px;
}

.about {
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.gmail {
    font-size: 13px;
}

.GApps {
    color: #5f6368;
    padding: 4px;
}

.GApps:hover {
    opacity: 1;
    background-color: rgba(60, 64, 67, 0.08);
    border-radius: 50%;
}

.signin-btn {
    color: #fff;
    background-color: rgb(43, 125, 233);
    background-size: auto;
    border-color: rgba(0, 0, 0, 0.0);
    border-radius: 4px;
    box-shadow: rgba(66, 133, 244, 0.3) 0px 1px 2px 0px,
                rgba(66, 133, 244, 0.15) 0px 1px 3px 1px;
    margin-left: 8px;
    margin-right: 8px;
    min-width: 80px;
    padding: 9px 15px 9px 15px;
    font-size: 14px;
}

.logo {
    
    min-height: 150px;
    max-height: 290px;
    height: 290;
    box-sizing: border-box;
}

.spacer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
}

.Google {
    max-height:100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.search-div {background: url(/web/20191130234759im_/https://www.google.com/images/searchbox/desktop_searchbox_sprites302_hr.png);
    display: flex;
    top: 311px;
    height: 32px;
    width: 484px;
    padding: 4px;
    margin: auto;
    border: solid 1px #dfe1e5;
    border-radius: 24px;
}

.search-icon {
    font-size: 20px;
    color: rgb(154, 160, 166);
    display: inline-block;
    height: 20px;
    width: 20px;
    padding: 4px;

}

input {
    background-color: transparent;
    border: none;
    flex: 100%;
    outline: none;
    font-size: 16px;
    
}

.search-div:hover {
    outline: none;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.submit-button {
    appearance: auto;
    text-align: center;
    background-color: #f8f9fa;
    box-sizing: border-box;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
}